<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Nyc-navigation</title>
</head>
<body class="container">
  
<div class="row">

    <h1 style="margin-top:5rem;text-align:center;margin-bottom:5rem">Discover the safest path for you desired destination {{message}}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form action="/test" class="row center-block" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="col-sm-6 ">
          <input type="text" class="form-control" placeholder="Origin" aria-label="Origin" name="origin" value="{{request.form.origin}}">
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Destination" aria-label="Destination" name="destination" value="{{request.form.destination}}">
        </div>
        <button style='margin-top:2rem;'type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>